.footerlinks {
	@extend .row;
	border-top: solid 4px $col-bronze;
	padding-top: 40px;
	margin-top: 40px;
}
.footerlink {
  	@include span-columns(4);	
  	@include media($mobile) {
		@include span-columns(8);
		@include omega(2n);
		margin-top: 1.75788%;
	}
	.imagelink {
		font-size: .75em;
		em {
			visibility: hidden;
		}
		@media (min-width:$tablet-bp){
			em {
				visibility: visible;
			}
		}
	}

}
.bottom-footer {
	border-top: solid 4px $col-bronze;
	padding-top: 3px;
	margin-top: 40px;
}
.marks {
	display: block;
	text-align: center;
	a {
		display:block;
		padding: 9px;
		&:hover {
			color: $col-dkcoco;
		}
	}
	span, a {
		@extend .font-ttl;
		color: $col-bronze;
		text-decoration: none;
	}
	span {
		font-size: 0.9em;
		margin-right: 8px;
		margin-left: 8px;
		a {
			display: inline;
		}
		@media (min-width:$mobile-bp){
			font-size: 1em;
		}
	}
	ul {
		margin:0;
	}
	span, ul, li {
		display: block;
		text-align: center;
	}
	li {
		padding-left: .5em;
		padding-right: .5em;
		&:before {
			display:none;
		}
	}
	a.toast-credit {
		@extend .font-body;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 200;
		font-size: 0.85em;
		letter-spacing: 0;
		padding-top: 9px;
		display: block;
		text-align: center;
		strong {
			margin: 0 4px;
		}
	}
	display: inline-block;
	width: 100%;
	a {
		padding:0;
	}
	span, ul, li {
		display: inline-block;
		text-align: left;
	}
	@media (min-width:$tablet-bp){
		text-align: left;
		a.toast-credit {
			float:right;
			display: inline-block;
			text-align: right;
		}
		li {
			padding-left: 1.5em;
		}

		
	}

	
}
.moreinfo {
	padding:20px;
	color: $col-dkcoco;
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;
	address {
		display: block;
		text-align: center;
		@media (min-width:$tablet-bp){
			display: inline-block;
			float: left;	
			text-align: left;		
		}
		a {
			text-decoration: none;
			color: $col-dkcoco;
			text-align: center;
			span {
				display: block;
				font-size: 0.7em;
				line-height: 2em;

				@media (min-width:$smdsk-bp){
					font-size: 0.4em;
					line-height: 1.32em;
				}

			}
		}
		a {
			font-size: 1.6em;
			line-height: 1.4em;
			@media (min-width:$smdsk-bp){
				font-size: 2.6em;
			}

		}
		em, a {
			display: block;
			color: $col-dkcoco;
			font-family: 'Old Standard TT',serif;
			font-style: italic;
		}
	}
	.symbol {
		display:none;
		position: absolute;
		top: -8px;
		left: 50%;
		margin-left: -75px;
		@media (min-width:$tablet-bp){
			top: 7px;
			display:block;
		}
	}
	@media (min-width:$tablet-bp){
		padding:45px;
	}
}
.sponsr {
	display: block;
	text-align: center;
	@media (min-width:$tablet-bp){
		display: inline-block;
		float: right;	
	}


	a {
		display: inline-block;
		width: 60px;
		height: 75px;
	}
	a.sponsr-stm {
		background: url(../../images/sprite.png) -8px -449px no-repeat;
	}
	a.sponsr-svaills {
		background: url(../../images/sprite.png) -82px -449px no-repeat;

	}

}




// Animations

.footerlinks {
	opacity: 1;
	@include transition(2s);
}
.footerlinks.unloaded {
	opacity: 0;
}
.page-template-page-noslider-php {
	.footerlinks {
		opacity: 1;
	}
}












/* Splash section footer
================================================  */




.regis-cont {
	.telnumber {
		@extend .font-ttl;
		display: block;
		text-align: center;
		text-decoration: none;
		color:$col-bronze;	
		font-size: 2.5em;
		margin: 50px 0 10px 0;
		@media (min-width:$tablet-bp){
			margin: 10px 0;
		}

		span {
			@extend .font-sbttl;
			display: block;
			font-size: .5em;
			line-height: 2.9em;
			letter-spacing: 0;
			font-style: italic;
			text-indent: 6px;
		}



	
		&:hover {
			color: #fff;
		}
		.fa {
			font-size: .7em;
		}
		@media (min-width:$tablet-bp){
			font-size: 3em;
			text-align: left;
	
			display: block;
			float: left;
			position: relative;
			top: 50px;
		}
	}
	
	.st-malo-logo {
		border: 0;
		width: 200px;
		margin: 40px auto;
		display: block;	
		@media (min-width:$tablet-bp){
			display: inline-block;
			float: right;
			margin: 39px 52px 39px 0;
			width: 257px;
	
		}
	}
	
	
	
	// Style
	
	.copyright,
	a.toast-credit,
	a.disclaimer {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		right: 0;
		bottom: 0;
		font-size: .7em;
		letter-spacing: 0;
		margin: 0;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		opacity: 0.8;
		@include transition(.5s);
		strong {
			letter-spacing: 0;
			margin: 0;
		}
	}
	a.toast-credit,
	a.disclaimer {
		&:hover {
			opacity: 1;
		}
	}
	
	
	
	// Layout
	
	.copyright,
	a.toast-credit,
	a.disclaimer {
		display: block;
		padding: 2px;
		text-align: center;
	}
	
	a.toast-credit {
		@media (min-width:$mobile-bp){
			position: absolute;
			margin: 10px;
			display: inline;
			text-align: left;
		}
	}
	
	.copyright-disclaimer {
		@media (min-width:$mobile-bp){
			margin: 10px 20px;
			position: absolute;
			left: 0;
			bottom: 0;
			display: inline;
			text-align: left;
	
		}
	}
	.copyright {
		@media (min-width:$mobile-bp){
			display: inline;
			text-align: left;
		}
	}
	a.disclaimer {
		@media (min-width:$mobile-bp){
			margin: 0 10px;
			display: inline;
			text-align: left;
		}
	}

}
