/* Breakpoints
• common breakpoints: 320px, 480px, 750px, 768px, 970px, 1170px, 1224px, 1824px
• use 4 max
================================================== */
$smdsk-bp:920px;
$tablet-bp:767px;
$mobile-bp:480px;




/* Bourbon Neat
================================================== */
@import "bourbon/bourbon";
@import "neat/neat";

// Change the grid settings
$grid-columns: 16;
$max-width: 920px;

$tablet: new-breakpoint(max-width $tablet-bp 16);
$mobile: new-breakpoint(max-width $mobile-bp 16);












.wrapper {
	padding-left: 20px;
	padding-right: 20px;
}
.row {
	@include outer-container;
	.cols4 {
	  	@include span-columns(4);	
	  	@include media($tablet) {
			@include span-columns(16);
		}
	}
	.cols5 {
	  	@include span-columns(5);	
	  	@include media($tablet) {
			@include span-columns(16);
		}
	}
	.cols6 {
	  	@include span-columns(6);	
	  	@include media($tablet) {
			@include span-columns(16);	
		}	
	}

	.cols7 {
	  	@include span-columns(7);	
	  	@include media($tablet) {
			@include span-columns(16);
		}
	}

	.cols8 {
	  	@include span-columns(8);	
	  	@include media($tablet) {
			@include span-columns(16);
		}
	}

	.cols9 {
	  	@include span-columns(9);	
	  	@include media($tablet) {
			@include span-columns(16);
		}
	}
	.cols10 {
	  	@include span-columns(10);	
	  	@include media($tablet) {
			@include span-columns(16);
		}
	}
	.cols11 {
	  	@include span-columns(11);	
	  	@include media($tablet) {
			@include span-columns(16);
		}
	}

	.cols16 {
	  	@include span-columns(16);	
	  	@include media($tablet) {
			@include span-columns(16);
		}
	}

}





