<!DOCTYPE html>
<!--[if lt IE 9 ]>	<html class="no-js ltie9 lang="en">	<![endif]-->
<!--[if IE 9 ]>		<html class="no-js ie9"  lang="en">	<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en">	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link rel="stylesheet" href="_assets/styles/css/global.min.css">
		<script src="_assets/scripts/modernizr.custom.70885.js"></script>
		<!--[if lt IE 9]>
			<script src="_assets/scripts/css3-mediaqueries.js"></script>
			<script src="_assets/scripts/selectivizr-min.js"></script>
		<![endif]-->
	</head>
	<body ng-app="validationApp" ng-controller="mainController">
		<!--[if lt IE 9]>
		<p class="warning ie-warn"><span>You're using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true" target="_blank">activate Google Chrome Frame</a> to improve your experience.</span></p>
		<![endif]-->
		<p class="warning nojs-warn"><span>This website requires Javascript for optimum viewing purposes. Please <a href="http://enable-javascript.com" target="_blank">enable javascript</a> in your browser.</span></p>



	<div class="wrapper">
	    
	    <h1>Angular form</h1>

		<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
	
	        <!-- NAME -->
	        <div class="field horiz stack" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
	            <label>Name*</label>
	            <input type="text" name="name" class="form-control" ng-model="user.name" required>
	            <p ng-show="userForm.name.$inval.id && !userForm.name.$pristine" class="help-block">You name is required.</p>
	        </div>
	        
	        <!-- USERNAME -->
	        <div class="field horiz stack" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
	            <label>Username</label>
	            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
	            <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
	            <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
	        </div>
	            
	        <!-- EMAIL -->
	        <div class="field horiz stack" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
	            <label>Email</label>
	            <input type="email" name="email" class="form-control" ng-model="user.email">
	            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
	        </div>


	        <!-- RADIO BUTTONS -->
            <p ng-show="userForm.chickenEgg.$pristine" class="help-block">Chicken or egg?</p>

	        <div class="radios" ng-class="{ 'has-error' : userForm.chickenEgg.$invalid }">
                <input type="radio" name="chickenEgg" value="chicken" id="chicken" ng-model="user.chickenEgg">
                <label for="chicken">Chicken</label>
                <input type="radio" name="chickenEgg" value="egg" id="egg" ng-model="user.chickenEgg">
                <label for="egg">Egg</label>
	        </div>

	        <p>My name is: <strong>{{user.name}}</strong> and I'm an {{user.chickenEgg}}</p>
			        
	        <button type="submit" class="btn">Submit</button>
	        
	        

	        
	    </form>
	    
	    <!-- =================================================================== -->
	    <!-- VALIDATION TABLES ================================================= -->
	    <!-- =================================================================== -->
	    <h2>Validation Tables</h2>
	    
	    <div class="validation-tables">
	        <div>
	            <h3>Form</h3>
	            <table class="table table-bordered">
	                <tbody>
	                    <tr>
	                        <td ng-class="{ success: userForm.$valid, danger: userForm.$invalid }">Valid</td>
	                    </tr>
	                    <tr>
	                        <td ng-class="{ success: userForm.$pristine, danger: !userForm.$pristine }">Pristine</td>
	                    </tr>
	                    <tr>
	                        <td ng-class="{ success: userForm.$dirty }">Dirty</td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	        <div>
	            <h3>Name</h3>
	            <table class="table table-bordered">
	                <tbody>
	                    <tr>
	                        <td ng-class="{ success: userForm.name.$valid, danger: userForm.name.$invalid }">Valid</td>
	                    </tr>
	                    <tr>
	                        <td ng-class="{ success: userForm.name.$pristine, danger: !userForm.name.$pristine }">Pristine</td>
	                    </tr>
	                    <tr>
	                        <td ng-class="{ success: userForm.name.$dirty }">Dirty</td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	        <div class="col-xs-3">
	            <h3>Username</h3>
	            <table class="table table-bordered">
	                <tbody>
	                    <tr>
	                        <td ng-class="{ success: userForm.username.$valid, danger: userForm.username.$invalid }">Valid</td>
	                    </tr>
	                    <tr>
	                        <td ng-class="{ success: userForm.username.$pristine, danger: !userForm.username.$pristine }">Pristine</td>
	                    </tr>
	                    <tr>
	                        <td ng-class="{ success: userForm.username.$dirty }">Dirty</td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	        <div>
	            <h3>Email</h3>
	            <table class="table table-bordered">
	                <tbody>
	                    <tr>
	                        <td ng-class="{ success: userForm.email.$valid, danger: userForm.email.$invalid }">Valid</td>
	                    </tr>
	                    <tr>
	                        <td ng-class="{ success: userForm.email.$pristine, danger: !userForm.email.$pristine }">Pristine</td>
	                    </tr>
	                    <tr>
	                        <td ng-class="{ success: userForm.email.$dirty }">Dirty</td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	    
		</div>


		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="_assets/scripts/jquery.min.js"><\/script>')</script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>

		<script src="_assets/scripts/plugins.min.js"></script>


		<script>

		
		
		/*
REFENCES
		http://scotch.io/tutorials/javascript/handling-checkboxes-and-radio-buttons-in-angular-forms
		http://scotch.io/tutorials/javascript/angularjs-form-validation
		
*/
		</script>
	</body>
</html>
