/* Top nav & header
================================================== */

.top-header {
	background: $col-dkcoco;
	margin-top:40px;
}
.top-menu {
	text-align:center;
	padding: 0 20px;
	li {
		float:left;
		font-size: 1.3em;
		padding: 0;
		&:before {
			display:none;
		}	
	}
	a {
		@extend .font-ttl;
		color: $col-creamwhite;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		padding: 20px 18px;
		&:hover {
			color:$col-bronze;
		}
	}
	li.register {
		a {
			color:$col-bronze;
		}
	
	}
	.tp-left,
	.tp-right {
		display:inline-block;
		position: relative;
		top: -26px;	
		@include transition(0.5s);
	}
	.logo-wrapper {
		display:inline-block;
		position:relative;
		width:189px;
		height:144px;
		margin:0 20px;
		@include transition(0.5s);
	}
	img.nav-logo {
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-52px;
		margin-left:-94px;			
		@include transition(0.5s);
		opacity:1;
	}
	.symbol.nav-symbol {
		opacity:0;
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-37.5px;
		margin-left:-37.5px;	
		width:75px;		
		height:75px;		
		@include transition(0.5s);
		background:url('../../images/sprite.png') -188px -261px no-repeat;
	}
}
.top-menu.sticky {
	img.nav-logo {
		opacity:0;
	}
	.symbol.nav-symbol {
		opacity:1;
	}
	.logo-wrapper {
		height: 90px;
	}
	.tp-left,
	.tp-right {
		top:0;
	}
}

